*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font: 16px/1.5 Helvetica, sans-serif;
}
body{
    padding: 2em;
    background-color: blanchedalmond;
}
header{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
p{
    padding: 0.5em;
}
h2,h3{
    padding: 1em;
}
main div{
    display: flex;
}
main div p{
    display: flex;
    flex: 1 1 60%;
}
main div blockquote{
    display: flex;
    flex:  1 1 30%;
    border-left:  1px solid black;
    flex-direction: column;
    padding-left: 0.2em;
}
main div blockquote p:nth-child(2){
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
img{
    width: 100%;
    height: auto;
    
}